{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<style>
    .table-striped-good>tbody>tr:nth-child(odd)>td {
        background-color: #85c1e9;
    }

    .table-striped-good>tbody>tr:nth-child(even)>td {
        background-color: #d6eaf8;
    }

    .table-striped-evil>tbody>tr:nth-child(odd)>td {
        background-color: #f5b7b1;
    }

    .table-striped-evil>tbody>tr:nth-child(even)>td {
        background-color: #fadbd8;
    }

    .table-striped-traveller>tbody>tr:nth-child(odd)>td {
        background-color: #d6eaf8;
    }

    .table-striped-traveller>tbody>tr:nth-child(even)>td {
        background-color: #fadbd8;
    }

    .table-striped-fabled>tbody>tr:nth-child(odd)>td {
        background-color: #fff099;
    }

    .table-striped-fabled>tbody>tr:nth-child(even)>td {
        background-color: #fff0cc;
    }
</style>

<script>
    {% include "statistics/chart.html" with ChartName="TownsfolkChart" ChartLabel="Number of Townsfolk" ChartDictionary=num_count.Townsfolk ChartColor="rgba(214,234,248,1)" ChartBorder="rgba(133,193,233,1)" %}
    {% include "statistics/chart.html" with ChartName="OutsiderChart" ChartLabel="Number of Outsiders" ChartDictionary=num_count.Outsider ChartColor="rgba(214,234,248,1)" ChartBorder="rgbargba(133,193,233,1)" %}
    {% include "statistics/chart.html" with ChartName="MinionChart" ChartLabel="Number of Minions" ChartDictionary=num_count.Minion ChartColor="rgba(250,219,216,1)" ChartBorder="rgba(245,183,177,1)" %}
    {% include "statistics/chart.html" with ChartName="DemonChart" ChartLabel="Number of Demons" ChartDictionary=num_count.Demon ChartColor="rgba(250,219,216,1)" ChartBorder="rgba(245,183,177,1)" %}
    {% include "statistics/chart.html" with ChartName="TravellerChart" ChartLabel="Number of Travellers" ChartDictionary=num_count.Traveller ChartColor="rgba(0,0,255,0.2)" ChartBorder="rgbargba(133,193,233,1)" %}
    {% include "statistics/chart.html" with ChartName="FabledChart" ChartLabel="Number of Fabled" ChartDictionary=num_count.Fabled ChartColor="rgba(255,240,204,1)" ChartBorder="rgba(255,240,153,1)" %}
</script>

<div class="container">
    <div class="row">
        <h1>Total Scripts in Database with tag {tags.name}: {{ total }}</h1>
        <div class="col">
        {% if user.is_authenticated and filter %}
        <form action="" method="get" class="form mb-0">
            <div class="float-right form-group row p-1 mb-0">
                {% bootstrap_form filter.form layout='inline' form_group_class="mb-0 m-1" %}
                {% bootstrap_button 'filter' extra_classes="btn-sm mr-1" %}
                {% bootstrap_button 'clear' extra_classes="btn-sm" href="/statistics" %}
            </div>
        </form>
        {% endif %}
        </div>
    </div>
</div>

{% if total > 0 %}
<div class="container">
    <div class="row">
        {% include "statistics/character_table.html"
            with label="Most common Townsfolk" character_stats=Townsfolk table_style="good" %}

        {% include "statistics/character_table.html"
            with label="Least common Townsfolk" character_stats=Townsfolkleast table_style="good" %}
    </div>

    <div class="row">
        {% include "statistics/character_table.html"
            with label="Most common Outsiders" character_stats=Outsider table_style="good" %}

        {% include "statistics/character_table.html"
            with label="Least common Outsiders" character_stats=Outsiderleast table_style="good" %}
    </div>

    <div class="row">
        {% include "statistics/character_table.html"
            with label="Most common Minions" character_stats=Minion table_style="evil" %}

        {% include "statistics/character_table.html"
            with label="Least common Minions" character_stats=Minionleast table_style="evil" %}
    </div>

    <div class="row">
        {% include "statistics/character_table.html"
            with label="Most common Demons" character_stats=Demon table_style="evil" %}

        {% include "statistics/character_table.html"
            with label="Least common Demons" character_stats=Demonleast table_style="evil" %}
    </div>

    <div class="row">
        {% include "statistics/character_table.html"
            with label="Most common Travellers" character_stats=Traveller table_style="traveller" %}

        {% include "statistics/character_table.html"
            with label="Least common Travellers" character_stats=Travellerleast table_style="traveller" %}
    </div>

    <div class="row">
        {% include "statistics/character_table.html"
            with label="Most common Fabled" character_stats=Fabled table_style="fabled" %}

        {% include "statistics/character_table.html"
            with label="Least common Fabled" character_stats=Fabledleast table_style="fabled" %}
    </div>
</div>

<canvas id="TownsfolkChart" width="400" height="100"></canvas>  
<canvas id="OutsiderChart" width="400" height="100"></canvas>  
<canvas id="MinionChart" width="400" height="100"></canvas>  
<canvas id="DemonChart" width="400" height="100"></canvas>  
<canvas id="TravellerChart" width="400" height="100"></canvas>  
<canvas id="FabledChart" width="400" height="100"></canvas>  

{% endif %}

{% endblock %}